<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
    <title></title>
    <link href="dqx/static/css/DQXCommon.css" rel="stylesheet" type="text/css" />
    <script data-main="static/js/main" src="static/js/require.js"></script>
    <script>
        require.config({
            paths: {
                "DQX": "/dqx/static/js"
            }
        });
    </script>
</head>
<body style="margin:0px;">

<div id="Div1" style="width:100%;height:100%;background-color:rgb(255,255,255);"></div>
<!--The following div needs to be present for system usage:-->
<div id="DQXUtilContainer" ></div>



</body>
</html>