
/*added 212-08-22*/
html,body {
    height:100%;
}


body
{
	background-color:rgb(255,255,255);
	color:#000000;
	font-size:9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-right: 30px;
    margin-top:0px;
    margin-bottom:0px;
/*    margin-bottom:20px;*/
	height:100%;
	overflow:hidden;
}

ul li
{
    margin-top:5px;
    margin-bottom:5px;
}

.DQXSmallText
{
	font-size:8pt;
}

.DQXLarge
{
	font-size:11pt;
    font-weight:bold;
}

.DQXSemiLarge
{
/*	font-size:11pt;*/
    font-weight:bold;
}

.DQXStaticContent
{
    max-width:1050px;
    margin-left:auto;
    margin-right:auto;
}

.DQXHighlight
{
    background-color:rgb(255,192,128);
    font-weight:bold;
}

.DQXWell
{
    min-height: 15px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid darkgray;
    border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: inset 1px rgba(0,0,0,.15);
    -moz-box-shadow: inset 1px 1px rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 1px rgba(0,0,0,.15);
}

.DQXFRight
{
    float:right;
}
.DQXFLeft
{
    float:left;
}
.DQXBlock {
    display: inline-block;
}

.DQXClearfix {
    clear: both;
}

/******************************************************************************************
** DQX Help
******************************************************************************************/

.DQXHelpLink
{
    cursor:pointer;
    color:rgb(0,128,255);
/*    padding:2px;
    margin:2px;
    border-radius: 2px;*/
}

.DQXIntroBoxHelpLink 
{
    background-color:rgb(190,190,190);
    color:rgb(0,128,0);
    position:absolute;
    right:8px;
    bottom:-10px;
    z-index:5;
    padding:2px;
    padding-left:4px;
    padding-right:4px;
    border-radius: 4px;
    font-weight:bold;
    border: 1px solid rgb(70,70,70)
}



.DQXHelp
{
}




.DQXStyledTable  
{
    border-width: 0px;
    border-style: solid;
    border-collapse:collapse;
    border-color: rgb(60,60,60);
}

.DQXStyledTable th
{
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    background-color:rgb(100,100,100);
    color:rgb(220,220,220);
    text-align: left; 
    font-size:9pt;
    font-weight:bold;
    white-space:nowrap;
    padding: 4px;
    height:23px;
}

.DQXStyledTable td    
{ 
    border-width: 1px; 
    border-style: dotted;
    border-color: rgb(190,190,190);
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 0px;
    color:rgb(0,0,0);
    font-size:9pt;
    white-space:nowrap;
    text-align:left;
    height:19px;
}



/******************************************************************************************
** DQX Query tables
******************************************************************************************/


.DQXQueryTable  
{
    border-width: 0px;
    border-style: solid;
    border-collapse:collapse;
    border-color: rgb(60,60,60);
 /*   width:100%;*/
}

.DQXQueryTable th
{
    background-color:rgb(100,100,100);
    
background: rgb(120,120,120);
background: -moz-linear-gradient(-45deg, rgba(120,120,120,1) 0%, rgba(80,80,80,1) 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(120,120,120,1)), color-stop(100%,rgba(80,80,80,1)));
background: -webkit-linear-gradient(-45deg, rgba(120,120,120,1) 0%,rgba(80,80,80,1) 100%);
background: -o-linear-gradient(-45deg, rgba(120,120,120,1) 0%,rgba(80,80,80,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(120,120,120,1) 0%,rgba(80,80,80,1) 100%);
background: linear-gradient(135deg, rgba(120,120,120,1) 0%,rgba(80,80,80,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787878', endColorstr='#505050',GradientType=1 );
    
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    
    color:rgb(240,240,240);
    text-align: left; 
    height:28px;
    font-size:8pt;
/*    width: 180px !important; */
    white-space:nowrap;
    padding: 4px;


}

.DQXQueryTable td, .DQXQueryTableInvalid td 
{ 
    height:19px;
}

.DQXQueryTable td    
{ 
    border-width: 1px; 
    border-style: dotted;
    border-color: rgb(190,190,190);
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 0px;
    color:rgb(0,0,0);
    font-size:8pt;
    white-space:nowrap;
    text-align:left;
}

.DQXQueryTableInvalid td 
{
    background-image:url(Bitmaps/diagpattern.jpg) !important;
    background-repeat:repeat;
}

.DQXQueryTableLinkCell, .DQXQueryTableLinkHeader, .DQXQueryTableSortHeader
{
    color: rgb(100,100,200) !important;
	cursor:pointer;
}

.DQXQueryTableHeaderText
{
	cursor:pointer;
}


.DQXQueryTableLinkCell 
{
    padding:0px;
    border:0px;
    margin:0px;
}

.DQXTableRowHover td {
    /*color: rgb(255,0,0) !important;*/
    border-top: rgb(170,170,255) solid 1px !important;
    border-bottom: rgb(170,170,255) solid 1px !important;
}

.DQXTableRowSelected td 
{
    color: rgb(0,0,192) !important;
    border-top: rgb(80,80,255) solid 1px !important;
    border-bottom: rgb(80,80,255) solid 1px !important;
    /*font-weight:bolder;*/
    text-shadow: 0.75px 0.75px 1.5px rgb(80,80,80) !important;
}



.DQXVSpacer
{
    clear:both;
}


/******************************************************************************************
** DQX Float boxes
******************************************************************************************/


.DQXDragHeader
{ 
    cursor:move; 
}

.DQXFloatBox
{ 
    border-width:8px;
    border-style:solid;
    border-color:rgb(0,0,120);
    position:absolute; 
    left:850px; 
    top:100px; 
    box-shadow: 4px 4px 20px 3px rgba(0,0,0,0.95); 
 	z-index:999;
}
.DQXFloatBoxHeader
{ 
    background-color:rgb(20,20,120); 
    padding:8px;
    padding-left:12px;
    cursor:move; 
    font-size:10pt;
    font-weight:bold;
    color:rgb(255,230,200);
    background-image:url(Bitmaps/barback_blue.png);
    height:19px;
}

.DQXFloatBoxContent
{ 
    background-color:rgb(240,240,250); 
background: rgb(239,246,252); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(239,246,252,1) 0%, rgba(192,213,234,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(239,246,252,1)), color-stop(100%,rgba(192,213,234,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(239,246,252,1) 0%,rgba(192,213,234,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(239,246,252,1) 0%,rgba(192,213,234,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(239,246,252,1) 0%,rgba(192,213,234,1) 100%); /* IE10+ */
background: linear-gradient(135deg, rgba(239,246,252,1) 0%,rgba(192,213,234,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff6fc', endColorstr='#c0d5ea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding:5px; 
    cursor:text; 
}


/******************************************************************************************
** DQX Light frame styling elements
******************************************************************************************/


.DQXLightFrame, .DQXTabBody, .DQXTabActive
{
    background-color:rgb(60,60,60);
    color:rgb(210,210,210);
}


.DQXLightFrame select, .DQXLightFrame input[type="text"]
{
/*    background-color:rgb(255,255,255);*/
    background-color:rgb(210,210,210);
}



/******************************************************************************************
** DQX Dark frame styling elements
******************************************************************************************/


.DQXDarkFrame
{
    background-color:rgb(60,60,60);
    color:rgb(210,210,210);
}

.DQXDarkInfo
{
    background-color:rgb(60,60,60);
    color:rgb(200,200,240);
}


.DQXDarkFrameHighlight
{
    color:rgb(240,240,190);
}

.DQXDarkFrame select, .DQXDarkFrame input[type="text"]
{
    background-color:rgb(210,210,210);
    border-width:0px;
}

.DQXDarkFrame input[type="text"]
{
    border-width:1px;
    border-style:solid;
    border-color:rgb(0,0,0);
}


.DQXDarkFrame a:link, .DQXDarkFrame a:visited .DQXLightFrame a:link, .DQXLightFrame a:visited{
    color: rgb(140,190,255);
}


/******************************************************************************************
** DQX Query builder styling elements
******************************************************************************************/


.DQXQBQuerybox
{
    border-radius: 5px;
    background-color:rgb(140,170,190) !important;/*Fallback mechanism form IE8*/
    background-color:rgba(140,170,190,0.8) !important;
    color:rgb(255,255,255) !important;
    font-weight:bold !important;
}

.DQXQBQueryboxControl
{
    border: 1px solid !important; 
    border-color: rgb(100,100,150) !important; 
    background-color: rgb(220,240,245) !important; 
    box-shadow: 1px 1px 3px rgba(0,0,0,0.35) !important; 
    margin-bottom:3px;
}

.DQXQBQueryboxControl:hover
{
    background-color: rgb(220,255,255) !important;
    border-color: rgb(120,160,255) !important;
    box-shadow: 0px 0px 10px rgba(0,128,255,0.75) !important;
}


/******************************************************************************************
** DQX Bitmap links
******************************************************************************************/


.DQXBitmapLink
{
	cursor:pointer;
}

.DQXBitmapLinkTransparent
{
    opacity:0.70;
    filter:alpha(opacity=70); /* For IE8 and earlier */
}

.DQXBitmapLink:hover, .DQXBitmapLinkTransparent:hover
{
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
    outline: 2px dotted;
    outline-color: rgba(255,150,100,0.7);
}



/******************************************************************************************
** DQX Tabbed environment styling elements
******************************************************************************************/

.DQXTabs 
{
    white-space: nowrap;
    overflow: hidden;
}

.DQXTabSet
{
}

.DQXTab {
	/*font-size:10pt;*/
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	margin-right:3px;
	padding-left:10px;
	padding-right:10px;
	padding-top:3px;
	padding-bottom:7px;
	/*float:left;*/
	border:1px solid #000000;
	border-bottom-width: 0px;
	cursor:pointer;
	z-index:2;
	display:inline-block;
}

.DQXTabInactive:hover {
	border-color:rgb(255,128,0);
}


.DQXTabInactive {
	background-color:rgb(210,210,210);
	border-color:rgb(210,210,210);
	color:rgb(0,0,0);
	font-weight:bold;
}

.DQXTabActive {
    position: relative;
	top: 1px;	
	font-weight:bold;
	color:rgb(255,240,200);
}

.DQXTabInactive img
{
    opacity:0.5;
}


.DQXTabContent 
{
}

.DQXTabBody 
{
    clear:both;
	/*border:1px solid #000000;*/
	z-index:1;
/*	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;*/
	padding-bottom:10px;
/*	border-top-right-radius:10px;*/
	padding-top:10px;
	padding-left:5px;
	padding-right:5px;
}


/******************************************************************************************
** DQX Misc controls
******************************************************************************************/

a:link, a:visited
{
	text-decoration:none;
}

.DQXHyperlink
{
	color:rgb(0,0,192);
	cursor:pointer;
	text-decoration:none;
}

.DQXLargeFlag
{
    padding-right: 5px;
    height: 16px;
}
.DQXSmallFlag
{
    padding-right: 5px;
}

.DQXColourBox
{
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*position: absolute;*/
    /*left: 5px;*/
    /*top: 5px;*/
}

.DQXGlowButton
{
	padding:3px;
	border:2px solid rgb(255,255,200);
	background-color:rgb(230,230,210);
	font-weight:bold;
	color:rgb(0,0,0);
	cursor:pointer;
	border-style: outset;
    box-shadow: 0px 0px 12px rgba(255,128,0,0.75);
    border-radius:4px;
}

.DQXGlowButton:hover
{
	background-color:rgb(255,255,150);
    box-shadow: 0px 0px 16px rgba(255,128,0,1);
    /*-ms-transform:scale(1.1);
    transform:scale(1.1);
    -moz-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -o-transform:scale(1.1);*/
}

.DQXShadow {
    box-shadow: 4px 4px 8px rgb(80,80,80);
    -moz-box-shadow: 4px 4px 8px rgb(80,80,80);
    -webkit-box-shadow: 4px 4px 8px rgb(80,80,80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.DQXMenu
{
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
    background-color: rgb(240,240,210);
}   


.DQXMenuItem 
{
	padding:3px;
}

.DQXMenuItem:hover
{
    background-color: rgb(255,150,150) !important;
}   

/* SVG elements */

.piepart 
{
    stroke:black; 
    stroke-width:1;
    fill-opacity: 0.7;
}

.DQXPage
{
    background-color: white;
}


.DQXLight
{
    background-color: rgb(170,170,170) !important;
    border-width:0px;
    color:Black;
}


.DQXClient
{
    color:Black;
    background-color: rgb(230,230,230);
    border-width:0px;
}

.DQXClientInfo
{
    color:rgb(0,0,192);
    background-color: rgb(200,200,200);
    border-width:0px;
}

.DQXIntroInfo
{
    color:rgb(160,250,160);
    background-color: rgb(120,120,120);
    border-width:0px;
    border-radius: 7px;

}



.DQXLargeListItem
{
    color:Black;
    padding:4px;
    padding-bottom:8px;
background: rgb(232,232,232); /* Old browsers */
background: -moz-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(198,198,198,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,1)), color-stop(100%,rgba(198,198,198,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(198,198,198,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(198,198,198,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(198,198,198,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(232,232,232,1) 0%,rgba(198,198,198,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#c6c6c6',GradientType=0 ); /* IE6-9 */
	/*font-size:8pt;*/

    cursor:pointer;

}


.DQXLargeListItemSelected
{
    color:Black;
    padding:4px;
    padding-bottom:8px;
background: rgb(196,208,252); /* Old browsers */
background: -moz-linear-gradient(top, rgba(196,208,252,1) 0%, rgba(164,181,234,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(196,208,252,1)), color-stop(100%,rgba(164,181,234,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(196,208,252,1) 0%,rgba(164,181,234,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(196,208,252,1) 0%,rgba(164,181,234,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(196,208,252,1) 0%,rgba(164,181,234,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(196,208,252,1) 0%,rgba(164,181,234,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4d0fc', endColorstr='#a4b5ea',GradientType=0 ); /* IE6-9 */

	/*font-size:8pt;*/
    cursor:pointer;

}



.DQXLargeListItem:hover
{
    color:rgb(0,0,180);
background: rgb(247,247,247); /* Old browsers */
background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(214,214,214,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(214,214,214,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(214,214,214,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(214,214,214,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(214,214,214,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(214,214,214,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */    
}




.DQXTreeItem, .DQXTreeItemNoSelect
{
    color:Black;
    padding:4px;
    /*padding-bottom:8px;*/
	font-size:8pt;
}

.DQXTreeItem2
{
    background-color:rgb(250,250,250) !important;
    border: 1px solid rgb(190,190,190);
    color:Black;
    padding:4px;
	font-size:9pt !important;
}


.DQXTreeItemSelected
{
    background: rgb(196,208,252); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(196,208,252,1) 0%, rgba(164,181,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(196,208,252,1)), color-stop(100%,rgba(164,181,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(196,208,252,1) 0%,rgba(164,181,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(196,208,252,1) 0%,rgba(164,181,234,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(196,208,252,1) 0%,rgba(164,181,234,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(196,208,252,1) 0%,rgba(164,181,234,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4d0fc', endColorstr='#a4b5ea',GradientType=0 ); /* IE6-9 */
    outline-color: black;
    outline-width:1px;
	outline-style: dotted;
 }


.DQXTreeItem
{
    cursor:pointer;
}

.DQXTreeItem:hover
{
    color:rgb(0,0,180);
    outline-color: black;
    outline-width:1px;
	outline-style: dotted;
    /*background: rgb(247,247,247);*/
}

.DQXTreeButton
{
    cursor:pointer;
}

.DQXTreeButtonImage:hover
{
    -ms-transform:scale(1.1);
    transform:scale(1.1);
    -moz-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -o-transform:scale(1.1);
}



.DQXTitleBar, .DQXTitleBarRounded
{
    padding-left:7px;
    padding-right:7px;
    font-weight:bold;
    color:rgb(255,230,180);
    line-height:28px;
    background: rgb(80,80,80);
	background-image:url(Bitmaps/barback1a.png);
	background-repeat:repeat-x;
}

.DQXTitleBar
{
   font-size:20px;
   font-variant:small-caps;
    color:rgb(255,250,170);
 }

.DQXTitleBarRounded
{
	border-top-left-radius:12px;
	border-top-right-radius:12px;
}

.DQXFormControl
{
    border:1px solid rgb(128,128,128);
}


.DQXFormComment 
{
    color:rgb(128,128,128);
}

.DQXFormFieldSet  
{
    border:1px solid rgb(128,128,128);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.35); 
    background-color:rgb(240,240,240);
    padding:15px;
    margin-right:6px;
    margin-top:12px;
}

.DQXFormFieldSet legend {
    font-weight:bold;
    /*background-color:rgb(235,235,235);
    border:1px solid rgb(220,220,220);
    padding:2px 6px;*/
  /*padding: 0.2em 0.5em;
  color:green;*/
  }
  
  .DQXChannelToolTip 
  {
      padding:4px;
      border:1px solid black;
    background: #fcef79; /* Old browsers */
    background: -moz-linear-gradient(top, #fcef79 1%, #e87f35 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fcef79), color-stop(100%,#e87f35)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fcef79 1%,#e87f35 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fcef79 1%,#e87f35 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fcef79 1%,#e87f35 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fcef79 1%,#e87f35 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcef79', endColorstr='#e87f35',GradientType=0 ); /* IE6-9 */
    box-shadow: 2px 2px 6px rgba(0,0,0,0.45); 
}

.DQXChannelToolTipHighlightPoint
{
    padding:0px;
    margin:0px;
     border:1px solid rgb(255,128,0);
     width:7px;
     height:7px;
     pointer-events:none;
 }


.DQXToolButton1, .DQXToolButton2, .DQXToolButton3
{
    margin:3px;
    cursor:pointer;
    border:2px solid black;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.45); 
    padding-top:4px;
    padding-bottom:4px;
    padding-left:6px;
    padding-right:6px;
    border-radius: 5px;
	/*border-style: outset;*/
}  

.DQXToolButton1:hover, .DQXToolButton2:hover
{
    /*border:2px solid rgb(0,0,0);*/
    box-shadow: 2px 2px 11px rgba(0,0,0,0.75); 
}
  
.DQXToolButton1
  {
background: rgb(255,228,201); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,228,201,1) 0%, rgba(255,190,99,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,228,201,1)), color-stop(100%,rgba(255,190,99,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,228,201,1) 0%,rgba(255,190,99,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,228,201,1) 0%,rgba(255,190,99,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,228,201,1) 0%,rgba(255,190,99,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,228,201,1) 0%,rgba(255,190,99,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe4c9', endColorstr='#ffbe63',GradientType=0 ); /* IE6-9 */
}

.DQXToolButton2
  {
    background: rgb(196,231,252);
    background: -moz-linear-gradient(top, rgba(196,231,252,1) 0%, rgba(141,180,211,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(196,231,252,1)), color-stop(100%,rgba(141,180,211,1)));
    background: -webkit-linear-gradient(top, rgba(196,231,252,1) 0%,rgba(141,180,211,1) 100%);
    background: -o-linear-gradient(top, rgba(196,231,252,1) 0%,rgba(141,180,211,1) 100%);
    background: -ms-linear-gradient(top, rgba(196,231,252,1) 0%,rgba(141,180,211,1) 100%);
    background: linear-gradient(to bottom, rgba(196,231,252,1) 0%,rgba(141,180,211,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4e7fc', endColorstr='#8db4d3',GradientType=0 );
}

.DQXToolButton3
  {
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(188,204,221,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(188,204,221,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(188,204,221,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(188,204,221,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(188,204,221,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(188,204,221,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bcccdd',GradientType=0 ); /* IE6-9 */
}


/************   help documentation box ************************************/

  .DQXDocuBox 
  {
    background-color:rgb(230,230,230);
    border:4px solid black;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.70); 
    border-radius: 4px;
}

  .DQXDocuBoxHeader
  {
    background-color:rgb(90,90,90);
    height:22px;
    padding:6px;
    color:rgb(255,220,0);
	font-size:11pt;
	font-weight:bold;
	background-image:url(Bitmaps/barback1a.png);
}

.DQXDocuBoxBody
  {
    overflow:auto;
    padding:12px;
    background-color:rgb(250,250,250);
background: rgb(249,249,249) !important;
background: -moz-linear-gradient(-45deg, rgba(249,249,249,1) 0%, rgba(234,234,234,1) 100%) !important;
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(234,234,234,1))) !important;
background: -webkit-linear-gradient(-45deg, rgba(249,249,249,1) 0%,rgba(234,234,234,1) 100%) !important;
background: -o-linear-gradient(-45deg, rgba(249,249,249,1) 0%,rgba(234,234,234,1) 100%) !important;
background: -ms-linear-gradient(-45deg, rgba(249,249,249,1) 0%,rgba(234,234,234,1) 100%) !important;
background: linear-gradient(135deg, rgba(249,249,249,1) 0%,rgba(234,234,234,1) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#eaeaea',GradientType=1 ) !important;
    line-height:140%;
}

.DQXDocuBoxFooter
  {
    background-color:rgb(210,210,210);
    border-bottom:1px solid rgb(128,128,128);
    width:100%;
    height:44px;
}

.DQXDocuButton
  {
    border-radius: 4px;
    border:1px solid rgb(128,128,128);
	display:inline-block;
	margin:5px;
	padding:8px;
	height:14px;
    box-shadow: 1.5px 1.5px 4px rgba(0,0,0,0.30); 
    cursor:pointer;
    font-weight:bold;

background: #f7f7f7; /* Old browsers */
background: -moz-linear-gradient(top, #f7f7f7 0%, #dddddd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f7f7f7 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f7f7f7 0%,#dddddd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f7f7f7 0%,#dddddd 100%); /* IE10+ */
background: linear-gradient(to bottom, #f7f7f7 0%,#dddddd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}


/************   wizards ************************************/

  .DQXWizardBox 
  {
    background-color:rgb(230,230,230);
    border:4px solid black;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.70); 
    border-radius: 4px;
}

  .DQXWizardBoxHeader
  {
    background-color:rgb(90,90,90);
    height:22px;
    padding:6px;
    color:rgb(255,220,0);
	font-size:11pt;
	font-weight:bold;
	background-image:url(Bitmaps/barback1a.png);
}

.DQXWizardBoxBody
  {
    /*background-color:rgb(230,210,210);*/
    overflow-y:auto;
    padding:12px;
    /*height:100%;
    padding-top:-5px;
    padding-bottom:25px;
    margin-top:-25px;
    margin-bottom:-150px;
    //padding-bottom:-150px;*/
}

.DQXWizardBoxFooter
  {
    background-color:rgb(210,210,210);
    border-top:1px solid rgb(128,128,128);
    width:100%;
    height:55px;
    position:absolute;
    bottom:0px;
    right:0px;
/*    padding:5px;*/
}

.DQXWizardButton
  {
    border-radius: 4px;
    /*background-color:rgb(250,250,250);*/
    border:1px solid rgb(128,128,128);
	display:inline-block;
	margin-top:10px;
	margin-right:10px;
	padding:8px;
	height:17px;
    box-shadow: 1.5px 1.5px 4px rgba(0,0,0,0.30); 
    cursor:pointer;
    font-weight:bold;

background: #f7f7f7; /* Old browsers */
background: -moz-linear-gradient(top, #f7f7f7 0%, #dddddd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f7f7f7 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f7f7f7 0%,#dddddd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f7f7f7 0%,#dddddd 100%); /* IE10+ */
background: linear-gradient(to bottom, #f7f7f7 0%,#dddddd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.DQXWizardButton:hover
{
    /*background-color:rgb(255,255,240);*/
    border:1px solid rgb(0,0,0);
    box-shadow: 1.5px 1.5px 6px rgba(0,0,0,0.50); 
background: #f3f9ac; /* Old browsers */
background: -moz-linear-gradient(top, #f3f9ac 0%, #ffe36b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f9ac), color-stop(100%,#ffe36b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f3f9ac 0%,#ffe36b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f3f9ac 0%,#ffe36b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f3f9ac 0%,#ffe36b 100%); /* IE10+ */
background: linear-gradient(to bottom, #f3f9ac 0%,#ffe36b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f9ac', endColorstr='#ffe36b',GradientType=0 ); /* IE6-9 */
}



.DQXBitmapButton 
{
    margin:0px;
}

.DQXBitmapButton:hover, .DQXBitmapButtonHighlight
{
    /*outline: 2px dotted;
    outline-color: rgba(255,150,100,0.7);*/
    background: #f3f9ac; /* Old browsers */
    background: -moz-linear-gradient(top, #f3f9ac 0%, #ffe36b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f9ac), color-stop(100%,#ffe36b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f3f9ac 0%,#ffe36b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f3f9ac 0%,#ffe36b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f3f9ac 0%,#ffe36b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f3f9ac 0%,#ffe36b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f9ac', endColorstr='#ffe36b',GradientType=0 ); /* IE6-9 */
}